/*

  TRAINER GALLERY HOLO

*/







/*

  SHINE LAYERS

*/

.card[data-rarity="trainer gallery rare holo"] .card__shine,
.card[data-rarity="rare holo"][data-trainer-gallery="true"] .card__shine {
  --space: 5%;
  --angle: -22deg;
  --imgsize: 300% 400%;

  clip-path: var(--clip-borders);
  background-image:
    repeating-linear-gradient(var(--angle),
      hsl(283deg 49% 60% / 75%) calc(var(--space)*1),
      hsl(2deg 74% 59% / 75%) calc(var(--space)*2),
      hsl(53deg 67% 53% / 75%) calc(var(--space)*3),
      hsl(93deg 56% 52% / 75%) calc(var(--space)*4),
      hsl(176deg 38% 50% / 75%) calc(var(--space)*5),
      hsl(228deg 100% 77% / 75%) calc(var(--space)*6),
      hsl(283deg 49% 61% / 75%) calc(var(--space)*7));
  background-blend-mode: color-dodge;
  background-size: var(--imgsize);
  background-position: 0% calc(var(--background-y) * 1), var(--background-x) var(--background-y);
  filter: brightness(calc((var(--pointer-from-center)*0.3) + 0.5)) contrast(2.3) saturate(1);

}

.card[data-rarity="trainer gallery rare holo"] .card__shine::after,
.card[data-rarity="rare holo"][data-trainer-gallery="true"] .card__shine::after {
  content: "";
  background-image:
    radial-gradient(farthest-corner ellipse at calc(((var(--pointer-x)) * 0.5) + 25%) calc(((var(--pointer-y)) * 0.5) + 25%),
      hsl(0deg 0% 100%) 5%,
      hsl(300deg 100% 11% / 60%) 40%,
      hsl(0deg 0% 22%) 120%);
  background-position: center center;
  background-size: 400% 500%;
  filter: brightness(calc((var(--pointer-from-center)*0.2) + 0.4)) contrast(.85) saturate(1.1);
  mix-blend-mode: hard-light;

}

.card[data-rarity="trainer gallery rare holo"] .card__shine::before,
.card[data-rarity="rare holo"][data-trainer-gallery="true"] .card__shine::before {
  content: none;
  display: none;
}











/*

  GLARE LAYERS

*/

.card[data-rarity="trainer gallery rare holo"] .card__glare,
.card[data-rarity="rare holo"][data-trainer-gallery="true"] .card__glare {
  background-image:
    radial-gradient(farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(0deg 0% 100% / 100%) 10%,
      hsl(0deg 0% 100% / 60%) 35%,
      hsl(180deg 11% 35% / 100%) 60%);
  mix-blend-mode: soft-light;

}


.card[data-rarity="trainer gallery rare holo"] .card__glare::before,
.card[data-rarity="rare holo"][data-trainer-gallery="true"] .card__glare::before,
.card[data-rarity="trainer gallery rare holo"] .card__glare::after,
.card[data-rarity="rare holo"][data-trainer-gallery="true"] .card__glare::after {
  content: none;
  display: none;
}